    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #141414;
        Color:white;
        font-size: 82px;
    }
  
  .title-container {
    text-align: center;
    margin-top: 1rem;
    font-size:50px;
    display:flex;
    justify-content: center;
    font-family: 'DynaPuff', cursive;
    font-weight: 600;
    text-transform: uppercase;
}

.letter-yellow {
    color: #c79c2e;
}

.letter-green {
    color: #51b36e;
}
.letter-red {
    color: #943e3c;
}

/* .tile-row {
    justify-content: center;
    display:flex;
    box-sizing: border-box;
    width: 30vw;
    flex-grow: 1;
    flex-shrink: 50;
} */


.tile-column{
    height: 4.625rem;
    width: 4.625rem;
    margin-left: 0.325rem;
    font-weight: 600;
    color: #FAFAFF;
    background-color: #00000070;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    cursor: pointer;
}

.tile-container{
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
    margin-top: 1em;    
}

.title-container span{
    margin-left:5px;
}

.tile-container>div>div{
    display:flex;
}

.tile-container>div{
    font-size: 1em;
    display: grid;
    grid-gap: 0.325rem;
    margin: 0;
    padding: 0;
}


.typing {
    background-color: transparent;
    border: 0.125rem solid #00000070;;
}

.letter-focus{
    border-bottom: 0.5rem solid #00000070 !important;
}
.disabled {
    border: 1px solid #252525;
}
@keyframes colorRight {
    from {background-color: transparent;}
    to {background-color: #51b36e;}
}

@keyframes colorDisplaced {
    from {background-color: transparent;}
    to {background-color: #c79c2e;}
}
@keyframes colorWrong {
    from {background-color: transparent;}
    to {background-color: #000000b0;}
}


.right {
    animation-name: colorRight;
    animation-duration: 1s;
    background-color: #51b36e !important;
    color: #f4f3f1;
}

.wrong {
    background-color: #000000b0;
    color: #f4f3f1;
    animation-name: colorWrong;
    animation-duration: 1s;
}

.displaced {
    animation-name:colorDisplaced;
    animation-duration: 1s;
    background-color: #c79c2e !important;
    color: #f4f3f1;
}

.letter-used{
    color: #f4f3f13f !important;
    background-color: #00000038 !important;
}



/* .half-painted{ background: conic-gradient(#51b36e 180deg,#c79c2e 180deg);} */



.keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
  
}

.keyboard-row-container button{
    width: 4%;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid #252525;
    font-size: 16px;
    cursor: pointer;
    background-color: #00000070;
    color:white;
    font-weight: 900;
}

#backspace-btn{
    width: 5%;
    margin-right: 15px;
}

#enter-btn{
    margin-left:15px;
    width: 10%;
}



/*  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

@media(max-width:900px){
    .keyboard-row-container button{
        width: 8%;
}
    #enter-btn{
        width:20%;
    }
    #backspace-btn {
        width: 10%;}

.tile-column {
    height: 4rem;
    width: 4rem;


}}



